.White_back_con{
    background-image: url(../../images/newgif.gif);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}