.hm_cat{
    padding: 5.5rem 4rem 0rem 4rem;
    height: fit-content;
    width: 100%;
    h1{
        font-size: 3rem;
        font-weight: 500;
        padding-bottom: 0.7rem;
        text-align: center;
    }
    .hm_cat_wrap{
        justify-content: space-around;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        .hm_item{
            padding-top: 3vh;
            cursor: pointer;
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            .title{
                text-decoration: none;
                display: flex;
                justify-content: center;
                font-size: 1rem;
                font-weight: 300;
                width: fit-content;
                color: white;
                padding: 0.4rem 0rem;
                align-items: center;
            }
            .img{
           
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.25s ease-in-out;
                filter: brightness(98%);
                height: 25rem;
                object-fit: fill;
            }
            .img:hover{
                background-size: 13.7rem;
            }
        }
    }

}